.header {
  background-color: black;
}

.header_container{
  max-width: 900px;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo{
  color:aliceblue;
  font-weight: 700;
  font-size: 40 px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16 px;
}

.navbar_link{
  font-size: 16px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.list-container{
  max-width: 900px;
  margin: 40px auto;

}

.list-container_title{
color: blueviolet;
}